<div>
  <h2 ng-show="puzzle.isSolved()"> ~~ Congratulation !!! You solved ~~</h2>
  <h2 id="moves">Moves: {{puzzle.moves}}</h2>  
  <div class="control-div">
    <button class="btn-restart btn btn-primary" ng-click="onClickRestart()
    ">Restart</button>
    <button class="btn-solve btn btn-primary" ng-click="puzzle.solve()
    ">Solve</button>
  </div>
  <table class="sliding-puzzle-table" ng-class="{'puzzle-solved': puzzle.isSolved()}">
    <tr ng-repeat="($row, row) in puzzle.grid">
      <td ng-repeat="($col, tile) in row"         
        ng-style="tile.style" 
        ng-class="{'puzzle-empty': tile.empty}" title="{{tile.id}}"
        ng-click="puzzle.move($row, $col)">
      </td>
    </tr>
  </table>
</div>
