.sliding-puzzle-table {

}

.sliding-puzzle-table tr td {
  border: 2px outset #fff;
  border-collapse: collapse;
  cursor: pointer;
}

.sliding-puzzle-table .puzzle-empty {
  background: #e3e3e3 !important;
  border: 2px inset #fff;
}

.sliding-puzzle-table.puzzle-solved td {
  border: none;
}

.control-div, .input-div {
  padding: 15px;
}

.input-div input {
  width: 60px;
}

.input-div label{
  width: 40px;
}

